* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: #202020;
    background-image: url(./imgcadlog/background.svg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    /* display: flex; */
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    align-items: center;
    color: #9d0000;
    background-color: rgba(32,32,32,0.7);
    border-bottom: 4px solid #9d0000;
    min-width: 820px;
}

.logo {
    display: flex;
    width: 40px;
    height: 40px;
}

.navlinks {
    list-style: none;
    display: flex;
    align-items: center;
}

.navlinks li a {
    padding-left: 20px;
    color: #fff;
    text-decoration: none;
}

.login {
    padding: 10px 40px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #9d0000;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: .3s;
}

.login:hover {
    background-color: #202020;
}

/* Daqui pra baixo estilo do form */

.container-cad {
    background-color: #202020;
    background-image: url(./imgcadlog/Ashelol.png);
    background-size: cover;
    background-position: center ;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    max-width: 700px;
    width: 100%; /*Usar no máximo todos os 600 pixels */
    height: 619px;
    max-height: 100%;
    /* transform: translate(50%, 20vh); */
    box-shadow: 5px 5px 5px #9d0000;
    overflow: auto;
}

.header {
    background-color: rgba(0,0,0,0.4);
    border-top: 4px solid #9d0000;
    border-radius: 10px 10px 0px 0px;
    padding: 24px;
    text-align: center;
    color: #fff;
}

.form {
    padding: 18px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.form-content {
    margin-bottom: 8px;
    padding-bottom: 18px;
    /* position: relative; */
    font-weight: bold;
}

.form-content label {
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    border: 2px solid white;
    outline: none;
    transition: .3s;
}

#date {
    width: 25%;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    margin-left: 10px;
    
}

.form-content a{
    /* position: absolute; */
    bottom: -8px;
    left: 0;
    visibility: hidden;
}

.box-select {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    text-align: justify;
}

.btn-cad {
    background-color: #9d0000;
    color: aliceblue;
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 100px;
    transition: .3s;
}

button[type="submit"]:hover {
    background-color: #202020;
}

.span-required {
    display: none;
}

.inputs:focus {
    border-color: #9d0000;
}

@media screen and (max-width: 579px) {
    .box-select {
        flex-direction: column;
    }
}

/* DAQUI PRA BAIXO ESTILO DO LOGIN */

.container-log {
    background-color: rgba(0,0,0,0.4);
    background-image: url(./imgcadlog/witcherlog.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%; /*Usar no máximo todos os 600 pixels */
    height: 405px;
    /* transform: translate(50%, 20vh); */
    box-shadow: 5px 5px 5px #9d0000;
    overflow: auto;
}

.btn-login {
    background-color: #9d0000;
    color: aliceblue;
    width: 70%;
    border-radius: 10px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 100px;
    transition: .10s;   
}

.cadastrar {
    text-decoration: none;
    color: #fff;
    font-weight: bold
}


